body {
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
    color: blue;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color:blue;
}


input[type="text"],
input[type="password"],
input[type="submit"] {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
margin-left: -10px;

}


input[type="submit"] {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: blue;
}

.container_admin_gerer {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  
}

.titre_admin {
    font-size: 24px;
    margin-top: 0;
}

.message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.links {
    text-align: center;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.container_custom {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.titre_custom {
    text-align: center;
    color: orange;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color:white;
}

.table th {
    color: orange;
    font-weight: bold;
}

.table tr:hover {
    background-color: white;
  
}

.table td:hover {
    color: black;
  
}
.links {
margin-top: 20px;
text-align: center;
}

.logout-link {
display: inline-block;
padding: 10px 20px;
background-color: #ff6b6b;
color: #fff;
text-decoration: none;
border-radius: 4px;
transition: background-color 0.3s;
}

.logout-link:hover {
background-color: #e36161;
}
