body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container_custom {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titre_custom {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


.container_reset_password {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h1_reset {
    text-align: center;
    margin-bottom: 20px;
}

.message_reset {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message_warning {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-group_reset {
    margin-bottom: 20px;
}

.label_reset {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button_reset {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button_reset:hover {
    background-color: grey;
}

.back-button_reset {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.back-button_reset:hover {
    background-color: grey;
}

.h1_commentaire{
    color: #333333;
    text-align: center;
}

.commentaires {
background-color: #f9f9f9;
padding: 20px;
margin-top: 20px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
display: inline-block;
}
.aucun-commentaire {
    color: #777777;
    font-style: italic;
}