.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 10px auto;
    padding: 20px;
    
}

body {
    background-color: #f2f2f2;
}

.image-container {
    flex: 1;
}

.oeuvre-info {
    font-weight: bold;
    margin-bottom: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.oeuvre-info div {
    margin-bottom: 10px;
}

.oeuvre-description {
    font-style: italic;
    font-size: 1.5em;
}


/*Style pour les images de la catégorie "tableaux" */

.image-container.image-1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-2 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-3 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-4 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-5 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-6 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-7 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-8 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-9 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-10 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-12 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-13 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-14 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-15 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-15 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-16 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-17 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-18 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-19 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-20 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-21 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-22 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-23 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-24 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-25 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-26 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-27 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-28 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-29 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-30 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-31 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-32 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-33 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-34 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-35 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-36 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-37 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-38 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-39 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.image-container.image-40 {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
    flex: 1;
}

.like-button {
    display: inline-block;
    color: red;
    text-decoration: none;
    
}

.container_like {
    text-align: center;
}



.like-count {
    display: inline-block;
    margin-left: 5px;
    color: black;
    text-decoration: none;
   
}

.btn-retour {
    display: inline;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
    top: -70px;
}

.btn {
    color: white;
    text-decoration: none;
}