body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px; /* Augmentation de l'espace sur les bords */
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
}
.container_login {
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 200px;
}

form{
    top: 200px;
}

.login {
    text-align: center;
    color: #333;
    margin-top: 0; /* Suppression de la marge supérieure par défaut */
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 12px; /* Augmentation de l'espace dans les champs */
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #555;
}