body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: grey;
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: left;
}

footer {
    background-color: #17026d;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

form{
    text-align: right;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 370px;
    width: 270px;
    border-radius: 15px;
}

label{
    text-align: left;
}

figure {
    border: 3px solid #000; /* Couleur et épaisseur de la bordure */
    padding: 10px; /* Espace à l'intérieur de la bordure */
    display: inline-block; /* Permet au cadre de s'ajuster à la taille du contenu */
    text-align: center; /* Centre le contenu dans la figure */
    margin-left: 18%;
    margin-top: 3%;
}

figcaption {
    font-style: italic; /* Style de police en italique */
    margin-top: 10px; /* Marge supérieure entre la figcaption et la bordure */
}



a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
}

.message_warning {
    color: red;
}

.container_register {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 200px;
}

