
h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: left;
}



form{
    text-align: right;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 370px;
    width: 270px;
    border-radius: 15px;
}

label{
    text-align: left;
}

figure {
    border: 3px solid #000; /* Couleur et épaisseur de la bordure */
    padding: 10px; /* Espace à l'intérieur de la bordure */
    display: inline-block; /* Permet au cadre de s'ajuster à la taille du contenu */
    text-align: center; /* Centre le contenu dans la figure */
    margin-left: 18%;
    margin-top: 3%;
}

figure:hover {
    transform: scale(1.05);
}

figcaption {
    font-style: italic; /* Style de police en italique */
    margin-top: 10px; /* Marge supérieure entre la figcaption et la bordure */
}



a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
}

.message_warning {
    color: red;
}

.container_register {
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 200px;
}

.stats{
    padding: 10px; /* Ajouter de l'espacement intérieur */
    /* ou */
    margin: 10px; /* Ajouter de l'espacement extérieur */
}

.cadre{
    border: 5px solid grey; /* Couleur et épaisseur de la bordure */
    border-radius: 10%;
    padding: 10px; /* Espace à l'intérieur de la bordure */
    margin: 10px; /* Ajouter de l'espacement extérieur */
    display: inline-block; /* Permet au cadre de s'ajuster à la taille du contenu */
    text-align: center; /* Centre le contenu dans la figure */
    justify-content: left;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}

p em {
    font-style: italic;
}

p strong {
    font-weight: bold;
}


/* test lock */
/* Style de base */
.sculpture-lock {
    position: relative;
    display: inline-block;
  }
  
  .sculpture-lock img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .sculpture-lock figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
  }
  
  .sculpture-lock:hover figcaption {
    visibility: visible;
    opacity: 1;
  }
  
  .sculpture-lock figcaption a {
    color: #333333;
    text-decoration: none;
  }
  

     
  /* Styles pour les objets décoratifs */
     .premium_categorie {
        position: relative;
        cursor: not-allowed;
        overflow: hidden;
    }
    
    .premium_categorie .gris_fonce {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
    
    .premium_categorie img {
        position: relative;
        z-index: 2;
    }
    
   