body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: grey;
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: left;
}

footer {
    background-color: #17026d;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

form{
    text-align: right;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 300px;
    width: 220px;
    border-radius: 15px;
}

label{
    text-align: left;
}

figcaption{
    color: #ccc;
    margin-left: 60px;
}

figure{
    justify-content: center;
    border: solid rgb(102, 11, 0);
    width:14.6%;
    border-radius: 15px;
    margin-left: 18%;
}


a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
}



