.navbar {
    background-color: rgb(134, 132, 132);
    position: fixed; /* Fixe la barre de navigation en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right; /* Aligne les onglets de navigation à droite */
}

.navbar li {
    display: inline-block; /* Utilise des éléments en ligne pour les onglets de navigation */
    margin-left: 10px; /* Ajoute un espace entre les onglets */
}

.navbar li:first-child {
    margin-left: 0; /* Supprime la marge à gauche du premier onglet */
}

.navbar li a {
    display: block;
    color: #ffffff; /* Définit la couleur du texte */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative; /* Ajout de la position relative pour le conteneur de l'avatar */
}

.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Définit la couleur de fond au survol */
}
